<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>produto-cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--IMPORTAR O ReactiveFormsModule-->
  <form [formGroup]="form">
    <ion-list>
      <ion-item
        ><ion-input label="Nome" formControlName="nome"></ion-input
      ></ion-item>
      <ion-item>
        <ion-select formControlName="categoria" aria-label="Categoria" value="Informática">
          <ion-select-option value="Informática">Informática</ion-select-option>
          <ion-select-option value="Periféricos">Periféricos</ion-select-option>
          <ion-select-option value="Celulares">Celulares</ion-select-option>
          <ion-select-option value="Eletrônicos">Eletrônicos</ion-select-option>
          <ion-select-option value="Áudio e Vídeo">Áudio e Vídeo</ion-select-option>
          <ion-select-option value="Acessórios">Acessórios</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item
        ><ion-input label="Preco" formControlName="preco"></ion-input
      ></ion-item>
      <ion-item
        ><ion-input label="Quantidade" formControlName="quantidade"></ion-input
      ></ion-item>
      <ion-item
        ><ion-input label="Fornecedor" formControlName="fornecedor"></ion-input
      ></ion-item>
      <ion-button (click)="cadastrar()">Cadastrar</ion-button>
      <ion-button routerLink="/produto-listagem">Cancelar</ion-button>
    </ion-list>
  </form>
</ion-content>
